.root {
    -fx-background-color: white;
}

#TitleLabel{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-text-fill: lightgrey;
    -fx-alignment: center;
}

.blueDetail{
    -fx-background-color: #256a9b;
}

#LoginButton{
    -fx-text-fill: white;
    -fx-background-color: #256a9b;
    -fx-font-size: 20;
}

.text-field{
    -fx-font-size: 20;

}