.root {
    -fx-background-color: white;
}

#TitleLabel{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: #2d245e;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

.detailLine{
    -fx-background-color: #a20512;
}

#LoginButton{
    -fx-text-fill: white;
    -fx-background-color: #0d659f;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.text-field{
    -fx-font-size: 20;

}