.root {
    -fx-background-color: white;
}

#TitleLabelLogin{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: #2d245e;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

#detailLine{
    -fx-background-color: #a20512;
}

#LoginButton{
    -fx-text-fill: white;
    -fx-background-color: #0d659f;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.text-field.textFieldLogin{
    -fx-font-size: 20;

}

.menu-bar, .menu-item{
    -fx-background-color: #2d245e;
}

.menu .label, .menu-item .label{
    -fx-text-fill: white;
}

#ticketsTitle{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #a20512;
}

.table-view{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#tableShowingsTitle{
    -fx-text-fill: #a20512;
}